.div {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  font-family: sans-serif;
  color: #22577a;
  position: relative;
  z-index: 1;
}

.h2 {
  margin: 3rem auto;
  font-size: 3.25rem;
}

.pad {
  background-color: #f8f7f2;
  border-radius: 14px;
  width: 100%;
}

.container {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p {
  // display: none;
  width: 30%;
  margin: 0 auto;
  padding: 3rem;
  font-size: 1.5rem;

  line-height: 2.5rem;

  border: 3px solid #c31723;
  border-radius: 14px;
}
