.div {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  font-family: sans-serif;
  color: #22577a;
  position: relative;
  z-index: 1;
}

.h2 {
  margin: 3rem auto;
  font-size: 3.25rem;
}

.pad {
  background-color: #f8f7f250;
  border-radius: 14px;
  width: 100%;
}

.container {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1500px) {
    flex-direction: column;
  }
}

.img {
  max-width: 100%;
  height: auto;

  @media (max-width: 1500px) {
    order: 1;
  }
}

.card {
  margin: 0 auto;

  @media (min-width: 1500px) {
    width: 30%;
  }

  @media (max-width: 1500px) {
    order: 2;
    flex: 1;
    max-width: 100%;
    margin-top: 2rem;
  }

  @media (max-width: 700px) {
    display: none;
  }
}

.p {
  margin: 0 auto;
  padding: 3rem;
  font-size: 1.5rem;

  line-height: 2.5rem;

  border-radius: 14px;
}
