.div {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.h2 {
  margin: 3rem auto;
  font-size: 3.25rem;
}

.container {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p {
  width: 30%;
  margin: 0 auto;

  font-size: 1.25rem;

  line-height: 2.5rem;
}
