//  Entire NavBar
.nav {
  width: 100vw;
  height: 9vh;

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  background-color: #22577a;

  z-index: 10;
}
//  Logo Div
.logo {
  width: 15rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  // background-color: blue;
}
//  Logo
.img {
  height: 3rem;
}
//  Title
.title {
  font-family: monospace;
  font-size: 2rem;

  color: #f8f7f2;
}
//  Buttons Div
.buttons {
  width: 30rem;

  font-family: sans-serif;

  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (max-width: 700px) {
    display: none;
  }
}
//  Button
.button {
  font-size: 1.5rem;

  color: #f8f7f2;
  background-color: transparent;

  border: 1px solid transparent;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
